<BFUTheme>
    <CascadingAuthenticationState>
        <BFULayerHost Style="height:inherit;">
            <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <Authorizing>
                            <BFUSpinner Label="Authorizing..."
                                        LabelPosition=@SpinnerLabelPosition.Bottom
                                        Size=@SpinnerSize.Medium>
                            </BFUSpinner>
                        </Authorizing>
                        <NotAuthorized>
                            @if (!context.User.Identity.IsAuthenticated)
                            {
                                <RedirectToLogin />
                            }
                            else
                            {
                                <p>You are not authorized to access this resource.</p>
                            }
                        </NotAuthorized>
                    </AuthorizeRouteView>
                </Found>
                <NotFound>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p>Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </BFULayerHost>
    </CascadingAuthenticationState>
</BFUTheme>