@page "/totp"
@using Polly
@using System.Net.Http
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FinanceApp.Shared.Classes
@inject IAccessTokenProvider TokenProvider
@inject IHttpClientFactory ClientFactory
@inject HttpClient Http
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<p>TOTP Demo</p>
@if(graphUser != null)
{
    <div>
            <p><span><b>Account Id:</b></span> @graphUser.AccountId</p>
            <p><span><b>Display:</b></span> @graphUser.DisplayName</p>
            <p><span><b>Email:</b></span> @graphUser.Mail</p>
            <p><span><b>Message:</b></span> @message</p>
    </div>

    @if(user != null)
    {
        if(!user.HasRegisteredMFA)
        {
            <div>
                <QRCode Label="@user.Email"
                        Secret="@user.TOTPSecret"
                        Size="250" />
            </div>

            if(mfaToken is null) {
                <BFUDefaultButton Text="Generate MFA Token"
                                OnClick=@GenerateMFATokenAsync />
            }
            else
            {
                <BFUStack Horizontal="true"
                          Tokens=@(new BFUStackTokens { ChildrenGap = new[] { 10.0 } })>
                    <BFUStackItem>
                        <BFUDefaultButton Text="Validate MFA Token"
                                        OnClick=@ValidateMFATokenAsync />
                    </BFUStackItem>
                    <BFUStackItem>
                        <BFUDefaultButton Text="Clear MFA Token"
                                        OnClick=@ClearMFATokenAsync />
                    </BFUStackItem>
                </BFUStack>
            }

        }
        else if (user.EnableMFA)
        {
            <p>Ready for MFA!</p>
        }
        else
        {
            <p>MFA is disabled!</p>
        }
    }
    else
    {
        <BFUSpinner Label="Loading..."
                    LabelPosition=@SpinnerLabelPosition.Bottom
                    Size=@SpinnerSize.Medium>
        </BFUSpinner>
    }
}
else
{
    <BFUSpinner Label="Loading..."
                LabelPosition=@SpinnerLabelPosition.Bottom
                Size=@SpinnerSize.Medium>
    </BFUSpinner>
}

@code {
    GraphUser graphUser;
    User user;
    string message;
    bool isUserInfoLoaded = false;
    MFAToken mfaToken;

    protected override async Task OnInitializedAsync()
    {
        graphUser = await GetGraphUser();
        user = new User
        {
            AccountId = graphUser.AccountId,
            Email = graphUser.Mail
        };
        await AddUserAsync();
        mfaToken = await sessionStorage.GetItemAsync<MFAToken>("MFAToken");
        await base.OnInitializedAsync();
    }

    async Task<GraphUser> GetGraphUser()
    {
        var retryPolicy = Policy.Handle<NullReferenceException>()
                                .WaitAndRetryAsync(5, retryAttempt => TimeSpan.FromSeconds(0.5));
                                
        AccessTokenResult tokenResult = await TokenProvider.RequestAccessToken(
                new AccessTokenRequestOptions
                {
                    Scopes = new[] { "https://graph.microsoft.com/User.Read" }
                });

        if (tokenResult.TryGetToken(out var token))
        {
            var client = ClientFactory.CreateClient("GraphAPI");
            return await retryPolicy.ExecuteAsync(async () => await client.GetFromJsonAsync<GraphUser>("v1.0/me"));
        }

        return default;
    }

    async Task AddUserAsync()
    {
        if(user != null)
        {
            var response = await Http.PostAsJsonAsync("user", user);
            user = await response.Content.ReadFromJsonAsync<User>();
            message = $"Account {user.Email} was added.";
        }
        else
        {
            message = "Error: User object is null.";
        }
    }

    async Task GenerateMFATokenAsync()
    {
        if(user != null) {
            mfaToken = await Http.GetFromJsonAsync<MFAToken>($"user/mfatoken/generate/{user.AccountId}");
            await sessionStorage.SetItemAsync<MFAToken>("MFAToken", mfaToken);

            message = "MFA token was created.";
        }
        else
        {
            message = "Error: User object is null.";
        }
    }

    async Task ValidateMFATokenAsync()
    {
        if(user != null) {
            HttpResponseMessage response = await Http.PutAsJsonAsync<MFAToken>($"user/mfatoken/validate", mfaToken);
            MFAToken token = await response.Content.ReadFromJsonAsync<MFAToken>();
            
            string isValid = token.IsValid ? "is" : "is not";
            message = $"MFA Token {isValid} valid.";
        }
        else
        {
            message = "Error: User object is null.";
        }
    }

    async Task ClearMFATokenAsync()
    {
        await sessionStorage.RemoveItemAsync("MFAToken");
        mfaToken = null;
        message = "MFA token was cleared.";
    }
}